docs/xml/incidents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="incidents">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="incident" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="titre_incident" type="xs:string"/>
              <xs:element name="status_incident" type="xs:string"/>
              <xs:element name="priorite_incident" type="xs:string"/>
              <xs:element name="date_creation" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
