docs/xml/paiements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="paiements">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="paiement" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="montant_a_payer" type="xs:decimal"/>
              <xs:element name="mois_concerne" type="xs:string"/>
              <xs:element name="status_paiement" type="xs:string"/>
              <xs:element name="date_echeance" type="xs:string" minOccurs="0"/>
              <xs:element name="date_paiement" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
