docs/xml/residents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="residents">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="resident" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nom" type="xs:string"/>
              <xs:element name="prenom" type="xs:string"/>
              <xs:element name="numero_etudiant" type="xs:string" minOccurs="0"/>
              <xs:element name="filiere" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="email" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
